@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700;900&display=swap');

:root{
    --blue-p: #062B5C;
    --orange-p: #F28907;
    --white-p: #FFFFFF;
    --black-p: #121212;
}

/* style for when sitcky is applied */
.stuck .navbar.sticky-top {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    position: fixed;
    width: 100%
}

.nav-color{
    background-color: var(--orange-p);
}

.navbar-itens-color a{
    color: var(--white-p) !important;
}

.nav-link:hover{
    cursor: pointer;
    background-color: rgb(190, 190, 190);
    border-radius: 5%;  
}
/* Banner */

header{
    background-color: var(--blue-p);
}

.conteudo{
    background-color: var(--blue-p);
}


header .navbar-brand {
    padding-left: 2rem;
}

header .nav-item {
    padding: 0.9rem;
}

header .nav-item:last-child {
    padding-right: 10.5rem;
}

.dropdown-menu {
    background-color: var(--orange-p) !important;
}

.dropdown-menu a:hover {
    background-color: var(--blue-p) !important;
    color: var(--white-p) !important;
}

.cabecalho-banner {
    padding-top: 5rem;
}



.card{
    padding: 5px;
    display: inline-block;
    padding-top: 5px;
    margin: 20px;
    width: 50%;
    
}

body{
    box-sizing: border-box;
    background-color: #062B5C;
}

*{
    font-family: 'Poppins', sans-serif;
}

.card{
    padding: 5px;
    display: inline-block;
    padding-top: 5px;
    margin: 20px;
    width: 50%;
    
}

.text{
    padding-top: 15px;
}

em{
    font-weight: 800;
    color: #F28907;
    text-decoration: none;
}

.text{
    color: aliceblue;
    font-weight: 800;
}

hr{
    color: rgb(0, 0, 0);
    border: 20px;
    
}

h4{
    color: #F28907;
    font-weight: 900;
}

.img-nuvem{
    padding-left: 500px;
    margin-left: 250px;

    position: absolute;
    width: 50%;
}

/* scroll */
::-webkit-scrollbar {
    width: 20px;
}


::-webkit-scrollbar-thumb {
    background: #8fa4bf;
    border-radius: 2px;
}
